.page-header
  = link_to 'New Whitelist', new_admin_whitelist_path, :class => 'btn btn-default pull-right'
  %h2= 'Whitelists'

= paginate @whitelists, :theme => 'comfy'

%table.table.table-hover.table-bordered
  %tr
    %th.main Ip Address
    %th
  - @whitelists.each do |whitelist|
    %tr
      %td.main= whitelist.ip_address
      %td
        .btn-group.btn-group-sm
          = link_to 'Edit', edit_admin_whitelist_path(whitelist), :class => 'btn btn-default'
          = link_to 'Delete', admin_whitelist_path(whitelist), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger'

= paginate @whitelists, :theme => 'comfy'